<%- include('partials/header') %>
  <main class="organizations">
    <h1>
      <%= title %>
    </h1>
    <p>Here are a few of our partner organizations:</p>
    <ul>
      <% organizations.forEach(organization=> { %>
        <li>
          <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
          <div class="organization-info">
            <strong>
              <%= organization.name %>
            </strong>
            <span>
              <%= organization.contact_email %>
            </span>
          </div>
        </li>
        <%}); %>
    </ul>
  </main>

  <%- include('partials/footer') %>