<%- include('partials/header') %>
  <main class="projects">
    <h1>
      <%= title %>
    </h1>
    <h2>Upcoming Service Projects</h2>
    <ul>
      <% projects.forEach(project => { %>
        <li>
          <strong><%= project.formattedDate %>:</strong> 
          <a href='#'><%= project.title %></a>
          (<%= project.name %>)
        </li>
      <% }); %>
    </ul>
  </main>

  <%- include('partials/footer') %>